/* Form Styling */
.create-head{

  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;

}

.form-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.group-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.group-form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
}

.group-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.group-form input[type="submit"] {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.group-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.create-foot{
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

#back-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 5px;

  
  
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  
  font-size: 16px;
   
  
  padding: 6px 10px;
  border-radius: 4px;
  text-decoration: none;
}

#back-btn:hover{

  background-color: #0056b3;
}