/* General Reset & Body Styling */
body {
  height: 3000px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

/* Flexbox Layout for Cards */
.group-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 30px;
}

/* Individual Card Styling */
.card {
  background-color: #ffffff;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  color: #333;
}

.card p {
  margin: 10px 0;
  color: #666;
}

.card button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #0056b3; }

  .button-link {
  
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .button-link:hover {
    background-color: #0056b3;
  }

  .main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .create{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-bottom: 15px;
  
  }

  